@use 'variables'
@use 'mixins'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style: none
    border: none

body
    font-family: variables.$fonte-principal
    background-image: linear-gradient(45deg, #3164B5, #3368BD, #3872CF, #3B79DB, #458CFF)
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

#container
    width: 350px
    background-color: #fff
    flex-direction: column
    padding: 1.5rem
    border-radius: .5rem
    box-shadow: 2px 4px 8px #00000052

    @include mixins.responsivo 
        width: 750px

    h2
        text-align: center
        padding-bottom: 1.2rem
    
    form
        @include mixins.responsivo 

            label
                margin-block: .7rem
    
            .box-form
                display: flex
                justify-content: space-between

                div
                    flex-direction: column

                    input
                        width: 340px

    label
        display: block
        padding-block: 1rem .5rem
    
    input
        padding: .5rem
        margin-bottom: .38rem
        width: 100%
        border-bottom: 1px solid #000
    
    input:focus, input:active
        border: none
        color: variables.$texto-input
    
    .half-box
        position: relative
    
    .full-box
        display: flex
        align-items: center
        gap: .5rem
        padding-block: 1.5rem

        input
            width: 15px
        
        label a
            color: variables.$link-destaque
    
    input[type="submit"]
        background-color: variables.$bg-botao
        display: block
        margin: auto
        border: none
        padding: 1rem
        width: 80%
        border-radius: 1.5rem
        color: #fff
        font-weight: 700
        font-size: 1rem
        letter-spacing: .1rem
        cursor: pointer
        transition: .6s
    
    input[type="submit"]:hover
        opacity: .92

// validações
.error-validation
    color: #ff1a1a
    position: absolute
    top: 80px
    font-size: .8rem

    @include mixins.responsivo 
        top: 102px

.template
    display: none